:root {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #e8e8e8;
}

.nav img {
  width: 6.25rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.nav--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav--width {
  width: 100%;
}

.search {
  width: 100%;
}

.search input {
  border: none;
  width: 100%;
}

.search input ::-webkit-input-placeholder {
  color: #020202;
}

.search input :-ms-input-placeholder {
  color: #020202;
}

.search input ::-ms-input-placeholder {
  color: #020202;
}

.search input ::placeholder {
  color: #020202;
}

i.fa-map-marker-alt {
  background-color: #f06292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 70%;
  width: 10%;
  margin-left: 40%;
}

.search--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.search--background--opacity {
  opacity: 70%;
  background-color: #f06292;
}

.search--pad {
  padding: 0.625rem 0px 0.625rem;
}

.search__input--background--active {
  background-color: #f06292;
}

.reservation--shadow {
  -webkit-box-shadow: inset 6px -3px 2px #f06292;
          box-shadow: inset 6px -3px 2px #f06292;
}

.reservation--background {
  background-color: #f06292;
}

.reservation--flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation__subtitle {
  padding-left: 15px;
  margin-top: 0;
}

i.fas.fa-mobile-alt {
  width: 0px;
  font-size: x-large;
}

.functionality--flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.functionality--flex .functionality__list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.functionality__list {
  padding-left: 1rem;
  padding-right: 1rem;
}

.functionnality--wide {
  width: 100%;
}

.functionality__list > li {
  padding: 0.625rem 0px 0.625rem 0px;
  width: 90%;
}

.functionality__list > li i {
  margin: 0;
}

.functionality__list--flex > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionality__list--wide > li {
  width: 90%;
}

.functionality__list--margin > li {
  margin-left: 0px;
  margin-bottom: 0.625rem;
}

.functionality__list--border > li {
  border-left-width: 0px;
  border: 1px solid grey;
}

.functionality__list--rounded > li {
  border-radius: 1.25rem;
}

.functionality__list > li:hover {
  background-color: blueviolet;
  -webkit-box-shadow: 2px 6px 5px -2px #9356dc8c;
          box-shadow: 2px 6px 5px -2px #9356dc8c;
}

.functionality__title {
  margin-left: 6.25rem;
}

@-webkit-keyframes color-my-box {
  0% {
    background: #ff79da;
  }
  50% {
    background: #9256dc;
  }
  100% {
    background: #99e2d0;
  }
}

@keyframes color-my-box {
  0% {
    background: #ff79da;
  }
  50% {
    background: #9256dc;
  }
  100% {
    background: #99e2d0;
  }
}

.functionality__list > li {
  -webkit-animation: color-my-box 5s infinite;
          animation: color-my-box 5s infinite;
}

@-webkit-keyframes color-my-boxes {
  0% {
    background: #99e2d0;
  }
  50% {
    background: #ff79da;
  }
  100% {
    background: #9256dc;
  }
}

@keyframes color-my-boxes {
  0% {
    background: #99e2d0;
  }
  50% {
    background: #ff79da;
  }
  100% {
    background: #9256dc;
  }
}

.reservation,
.btn {
  border: 1px solid #9356dc;
  background: #9356dc;
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  padding: 3.125rem;
  color: #fffff0;
  border-radius: 1.25rem;
  font-weight: 600;
  padding: 0.625rem;
  -webkit-box-shadow: 1px 3px 3px 3px #5f537273;
          box-shadow: 1px 3px 3px 3px #5f537273;
  width: 50%;
}

.reservation__btn--margin,
#command {
  margin-bottom: 3.125rem;
  margin-top: 1.5625rem;
  margin-left: 20%;
  margin-right: 20%;
}

#command {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  background: none;
}

.number--rounded {
  border-radius: 50%;
}

.number--background {
  background: #9356dc;
  color: #323232;
}

.number--flex-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prev__menu__restaurants__heading--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prev__menu__restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prev__menu__restaurants .selection__restaurant {
  padding: 0;
}

.prev__menu__restaurants .selection__restaurant > li {
  margin-bottom: 15%;
  border-radius: 1.25rem;
  list-style: none;
  -webkit-box-shadow: 0 0 0.8125rem #f06292;
          box-shadow: 0 0 0.8125rem #f06292;
}

.figcaption--flex--center--space--between > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.city--pad {
  margin-top: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-weight: lighter;
}

.resto--pad {
  padding-left: 1rem;
}

.title__plate {
  padding-left: 0.1rem;
  margin-bottom: 5px;
}

.figure {
  margin: 0;
}

.figure .image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 0px;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  height: 12.5rem;
  width: 21.5625rem;
}

.figure {
  position: relative;
}

.new {
  position: absolute;
  padding: 1rem;
  right: 0px;
  background-color: #99e2d0;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 5px;
}

.footer--wide {
  width: 100%;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

.footer--background {
  background-color: black;
  color: white;
}

.footer__contact {
  margin-left: 2px;
  margin-top: 5px;
}

span {
  width: 5px;
  border-radius: 50%;
  border-color: #ff79da;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__para--pad {
  margin-bottom: 0.625rem;
  padding-left: 3px;
  padding-left: 0.625rem;
  margin: 0;
  padding-left: 3px;
}

section.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.25rem;
}

section.menu article {
  border-radius: 1.25rem;
  padding-bottom: 0;
  margin: 1rem;
  padding-left: 1rem;
  -webkit-box-shadow: 0px 8px 8px 1px #bababa;
          box-shadow: 0px 8px 8px 1px #bababa;
  background-color: #ffffff;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 1em 0 1em 0;
  margin: 1rem;
  padding-bottom: 0;
  padding-left: 1rem;
}

#command {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  background: none;
}

.heading {
  width: 100%;
  height: 100px;
  position: absolute;
  font-style: italic;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title--menu {
  padding-top: 100px;
  padding-left: 1rem;
  padding-bottom: 0px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.substitle_menu {
  margin-top: 0;
}

.span {
  width: 75px;
  margin-left: 15px;
  border-bottom: 1px #99e2d0 solid;
}

.image_fond {
  width: 100%;
  height: 6.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo_presentation--wide {
  margin: 0;
}

a {
  text-decoration: none;
  color: #020202;
}

.bloc {
  position: relative;
  width: 90%;
  height: auto;
  background-color: #9256dc;
}

.price {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50% solid;
}

.bbox {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #99e2d0;
  left: 100%;
  overflow: hidden;
  width: 0;
  height: 100%;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.bloc:hover .bbox {
  width: 10%;
  left: 90%;
}
/*# sourceMappingURL=main.css.map */