footer {
  color: $white;

  .footer {
    margin: 0;
    padding: 1.2em;
    background-color: #353535;
    list-style: none;
    display: flex;
    flex-direction: column;

    &--wide {
      width: $onepercent_width;
    }
    > li {
      padding-bottom: 0.2em;
    }
    li > a {
      text-decoration: none;
      color: $white;
      padding-left: 0;
    }
  }
}
.fas.fa-utensils,
.fas.fa-hands-helping {
  width: $one;
  padding-right: $one;
}
footer .change-color {
  padding-bottom: 1.2em;
  padding-top: 1em;
}
footer .pad {
  padding:  0.3em;
}