//explaination
i.fas.fa-mobile-alt,
i.fas.fa-store,
i.fas.fa-list {
  width: 0px;
  font-size: large;
}
.functionality {
  &--flex {
    &__list {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
li#functionality__color {
  background-color: #9256dc21;
  i {
    color: $purple;
  }
}
.functionality__list > li {
  width: 90%;
  i {
    margin: 22px;
    transition: all 500ms;
    color: grey;
  }
  p {
    width: $onepercent_width;
    text-align: center;
    transform: scale(1);
    transition: all 500ms;
  }
}

.functionality__list--flex > li {
  @include elemt_center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 9px 1px #aeaeae;
  -webkit-box-shadow: 0px 4px 9px 1px #aeaeae; 
  -moz-box-shadow: 0px 4px 9px 1px#aeaeae;
}
.functionality__list--wide > li {
  width: clamp (100px, 50%, 200px);
}
.functionality__list--margin > li {
  margin-left: $zero;
  margin-bottom: 1.5rem;

}
.functionality__list--border > li {
  border-left-width: $zero;
  border: 1px solid $lightgrey;
}
.functionality__list--rounded > li {
  border-radius: 1.25rem;
  li.zero_margin {
    margin: 0;
  }
}
.functionality__list > li:hover {
  background-color: #9256dc21;
  i {
    color: $purple;
    transition-delay: 500ms;
    box-shadow: 2px 6px 5px -2px #9256dc00;
  }
  p {
    transform: scale(1.09);
  }
}
.functionality__title {
  text-align: left;
  margin: 1em;
}
