nav {
  display: flex;
  align-items: center;
  padding: 1em;

  box-shadow: 2px 2px 2px $lightgrey;
  img {
    width: 10.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
   
  }
  a {
    margin-left :1em;
  }
}
.nav__elemt--center {
  width: auto;
  margin-right: 2.5em;
}

.nav_accueil {
  justify-content: center;
}
