nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow:2px 2px 2px #eaeaea;
  img {
    width: 10.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
  }
}

.nav_accueil {
  justify-content: center;
}
