.reservation--shadow {
  box-shadow: inset 6px -3px 2px #f6f6f6;
}
.reservation--background {
  background-color: #f6f6f6;
}
.reservation--flex {
  @include f_col_center;
}
.reservation__subtitle {
  text-align: center;
  font-size: 19px; 
  margin-top: 0;
}
h3.reservation__title {
  font-size: 25px;
}
