.prev__menu__restaurants__heading--flex {
  display: flex;
  justify-content: center;
}
.prev__menu__restaurants {
  @include f_col_center;
  background-color: #f6f6f6;
  .selection__restaurant {
    padding: 0;
    > li {
      margin: 1em;
      border-radius: 1.25rem;
      list-style: none;
      box-shadow: $zero $zero 0.8125rem rgb(34, 34, 34);
    }
  }
}
.figcaption--flex--center--space--between > div {
  display: flex;
  align-items: center;
}
.city--pad {
  margin-top: $zero;
  font-weight: lighter;
}

.title__plate {
  padding-left: 0.1rem;
  margin-bottom: 5px;
}
.figure {
  position: relative;
  margin: $zero;
  .image {
    object-fit: cover;
    padding-right: $zero;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    height: 12.5rem;
    width: $onepercent_width;
  }
  .new {
    position: absolute;
    padding: 1rem;
    border-radius: 0.25rem;
    color: darkgreen;
    font-weight: bold;
    right: 10px;
    background-color: $bluesky;
  }
}

ul.selection__restaurant {
  width: 90%;
  a {
    background-color: darkgray;
    padding-left: 0;
  }
  .resto_map {
    padding: 1rem;
    width: 90%;
  }
}
