.prev__menu__restaurants__heading--flex {
  display: flex;
  text-align: left;
  margin-bottom: 1.5em;
  margin-top: 2em;
  padding-left: 1em;
}
.prev__menu__restaurants {
  flex-direction: column;

  display: flex;
  background-color: #f6f6f6;
  .selection__restaurant {
    padding: 0;
    > li {
      margin-bottom: 1.7em;
      border-radius: 1.25rem;
      margin-right: 0.3em;
      list-style: none;
      box-shadow: $zero $zero 0.8125rem rgb(34, 34, 34);
    }
  }
}
.figcaption--flex--center--space--between > div {
  display: flex;
  align-items: center;
}
.city--pad {
  margin-top: $zero;
  font-weight: lighter;
}

.title__plate {
  padding-left: 0.1rem;
  margin-bottom: 5px;
}
.figure {
  position: relative;
  margin: $zero;
  .image {
    object-fit: cover;
    padding-right: $zero;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    height: 10rem;
    width: $onepercent_width;
  }
  .new {
    position: absolute;
    padding: 0.5em;
    border-radius: 0.25rem;
    color: darkgreen;
    font-weight: bold;
    right: 10px;
    background-color: $bluesky;
  }
}

ul.selection__restaurant {
  width: 90%;
  margin: 0 auto;
  a {

    padding-left: 0;
  }
  .resto_map {
    padding-left: 1rem;
    width: 100%;
  }
}
.name_resto--marge {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-weight: bold;
}
