.search {
  width: $onepercent_width;
  input {
    border: none;
    &:focus {
      outline: none;
    }

    ::placeholder {
      color: $darkgrey;
    }
  }
}
i.fa-map-marker-alt {
  background-color: $lightgrey;
  opacity: 70%;
}
.search--flex {
  text-align: center;
}
.search--background--opacity {
  opacity: 70%;
  background-color: $lightgrey;
}
.search--pad {
  padding: 0.625rem 0px 0.625rem;
}
.search__input--background--active {
  background-color: $lightgrey;
}
.reservation__title {
  font-size: 1.3em;
  padding-left: 2em;
  padding-right: 2em;
}