body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.body {
  animation: body 1s;
}

.center_media {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  -webkit-margin-before: 25px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 10rem;
}

@media screen and (min-width: 600px) {
  .menu {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
  }
  .menu div {
    display: flex;
    flex-direction: row;
  }
  .menu article {
    width: 33%;
  }

  ul.selection__restaurant {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-around;
  }
  ul.selection__restaurant li {
    width: 20em;
    margin-bottom: 0;
  }

  li > .fas.fa-utensils,
li > .fas.fa-hands-helping {
    padding-right: 1%;
  }

  button.reservation__btn--margin {
    margin: 2%;
  }

  #width-query {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0;
  }
  #width-query > li:nth-child(1),
#width-query > li:nth-child(2),
#width-query li:nth-child(3) {
    width: 50%;
  }
  #width-query > li:nth-child(1) .number,
#width-query > li:nth-child(2) .number,
#width-query li:nth-child(3) .number {
    position: static;
    margin-left: -15px;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    /* padding: 0.1em; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer--background .footer {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .number--background {
    background: #9356dc;
    color: #ffffff;
  }

  .heart {
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 768px) {
  .prev__menu__restaurants__heading--flex {
    margin-left: 1em;
    display: flex;
    justify-content: center;
  }

  .functionality__title {
    display: flex;
    justify-content: center;
  }

  .nav__picture {
    width: 20rem;
  }
}
@media screen and (min-width: 2559px) {
  nav img.center_media {
    width: 16rem;
    margin-top: 30px;
    -webkit-margin-before: 33px;
  }
}
@keyframes color-my-box {
  0% {
    background: #ff79da;
  }
  50% {
    background: #9356dc;
  }
  100% {
    background: #99e2d0;
  }
}
@keyframes opacity {
  20% {
    opacity: 25%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes beat {
  50% {
    transform: rotate(45deg) scale(1.5);
    opacity: 50%;
  }
}
@keyframes loader {
  85% {
    opacity: 10%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes body {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
    fill: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  30% {
    stroke-dashoffset: 1550;
    fill: url(#aa);
  }
  60% {
    stroke-dashoffset: 3100;
    opacity: 30%;
    transform: scale(1);
    fill: url(#aa);
  }
  80% {
    opacity: 60%;
    transform: scale(1.1);
    fill: url(#aa);
  }
  90% {
    transform: scale(1);
    opacity: 80%;
    fill: url(#aa);
  }
  100% {
    stroke-dashoffset: 3100;
    opacity: 100%;
    fill: url(#aa);
  }
}
@keyframes spread_and_fade {
  70% {
    transform: scale(1);
    fill: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  80% {
    fill: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
    transform: scale(1.1);
  }
  90% {
    fill: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  100% {
    transform: scale(2.5);
    fill: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
    opacity: 100%;
  }
}
nav {
  display: flex;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 2px #eaeaea;
}
nav img {
  width: 10.25rem;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}
nav a {
  margin-left: 1em;
}

.nav__elemt--center {
  width: auto;
  margin-right: 2.5em;
}

.nav_accueil {
  justify-content: center;
}

.search {
  width: 100%;
}
.search input {
  border: none;
}
.search input:focus {
  outline: none;
}
.search input ::placeholder {
  color: #020202;
}

i.fa-map-marker-alt {
  background-color: #eaeaea;
  opacity: 70%;
}

.search--flex {
  text-align: center;
}

.search--background--opacity {
  opacity: 70%;
  background-color: #eaeaea;
}

.search--pad {
  padding: 0.625rem 0px 0.625rem;
}

.search__input--background--active {
  background-color: #eaeaea;
}

.reservation__title {
  font-size: 1.3em;
  padding-left: 2em;
  padding-top: 2em;
  margin-top: 0;
  padding-right: 2em;
}

.reservation--shadow {
  box-shadow: inset 6px -3px 2px #f6f6f6;
}

.reservation--background {
  background-color: #f6f6f6;
}

.reservation--flex {
  text-align: center;
}

.reservation__subtitle {
  text-align: center;
  font-size: 1em;
  margin-top: 0;
  padding-left: 1.1em;
  padding-right: 1.1em;
  font-weight: lighter;
}

h3.reservation__title {
  font-size: 25px;
}

.prev__menu__restaurants__heading--flex {
  display: flex;
  text-align: left;
  margin-bottom: 1.5em;
  margin-top: 2em;
  padding-left: 1em;
}

.prev__menu__restaurants {
  flex-direction: column;
  display: flex;
  background-color: #f6f6f6;
}
.prev__menu__restaurants .selection__restaurant {
  padding: 0;
}
.prev__menu__restaurants .selection__restaurant > li {
  margin-bottom: 1.7em;
  border-radius: 1.25rem;
  margin-right: 0.3em;
  list-style: none;
  box-shadow: 0 0 0.8125rem #222222;
}

.figcaption--flex--center--space--between > div {
  display: flex;
  align-items: center;
}

.city--pad {
  margin-top: 0;
  font-weight: lighter;
}

.title__plate {
  padding-left: 0.1rem;
  margin-bottom: 5px;
}

.figure {
  position: relative;
  margin: 0;
}
.figure .image {
  object-fit: cover;
  padding-right: 0;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  height: 10rem;
  width: 100%;
}
.figure .new {
  position: absolute;
  padding: 0.5em;
  border-radius: 0.25rem;
  color: darkgreen;
  font-weight: bold;
  right: 10px;
  background-color: #99e2d0;
}

ul.selection__restaurant {
  width: 90%;
  margin: 0 auto;
}
ul.selection__restaurant a {
  padding-left: 0;
}
ul.selection__restaurant .resto_map {
  padding-left: 1rem;
  width: 100%;
}

.name_resto--marge {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-weight: bold;
}

footer {
  color: #ffffff;
}
footer .footer {
  margin: 0;
  padding: 1.2em;
  background-color: #353535;
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer .footer--wide {
  width: 100%;
}
footer .footer > li {
  padding-bottom: 0.2em;
}
footer .footer li > a {
  text-decoration: none;
  color: #ffffff;
  padding-left: 0;
}

.fas.fa-utensils,
.fas.fa-hands-helping {
  width: 1em;
  padding-right: 1em;
}

footer .change-color {
  padding-bottom: 1.2em;
  padding-top: 1em;
}

footer .pad {
  padding: 0.3em;
}

i.fas.fa-mobile-alt,
i.fas.fa-store,
i.fas.fa-list {
  width: 0px;
  font-size: large;
}

.functionality--flex__list {
  padding-left: 1rem;
  padding-right: 1rem;
}

li#functionality__color {
  background-color: #9256dc21;
}
li#functionality__color i {
  color: #9356dc;
}

.functionality__list > li {
  width: 90%;
}
.functionality__list > li i {
  margin: 22px;
  transition: all 500ms;
  color: grey;
}
.functionality__list > li p {
  width: 100%;
  text-align: center;
  transform: scale(1);
  transition: all 500ms;
}

.functionality__list--flex > li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 9px 1px #aeaeae;
  -webkit-box-shadow: 0px 4px 9px 1px #aeaeae;
  -moz-box-shadow: 0px 4px 9px 1px #aeaeae;
}

.functionality__list--wide > li {
  width: 200px;
}

.functionality__list--margin > li {
  margin-left: 0;
  margin-bottom: 1.5rem;
}

.functionality__list--border > li {
  border-left-width: 0;
  border: 1px solid #eaeaea;
}

.functionality__list--rounded > li {
  border-radius: 1.25rem;
}
.functionality__list--rounded > li li.zero_margin {
  margin: 0;
}

.functionality__list > li:hover {
  background-color: #9256dc21;
}
.functionality__list > li:hover i {
  color: #9356dc;
  transition-delay: 500ms;
  box-shadow: 2px 6px 5px -2px #9256dc00;
}
.functionality__list > li:hover p {
  transform: scale(1.09);
}

.functionality__title {
  text-align: left;
  margin: 1em;
}

.btn,
.reservation__btn {
  border: 1px solid #ff79da;
  background: radial-gradient(circle, #9356dc 0%, #ff79da 100%);
  color: #fffff0;
  border-radius: 1.25rem;
  font-weight: 600;
  box-shadow: 1px 3px 3px 3px #5f537273;
  transition: all 500ms;
  padding: 1em 2em 1em 2em;
}

.btn:hover,
.reservation__btn:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
  box-shadow: 9px 12px 11px #91969196;
}

.reservation__btn--margin {
  margin-top: 2em;
  margin-bottom: 2em;
}

.number--rounded {
  border-radius: 50%;
  width: 1em;
  padding: 0.5em;
  position: absolute;
  left: 1em;
  text-align: center;
}

.number--background {
  background: #9356dc;
  color: #f6f6f6;
}

.fas.fa-check {
  color: #99e2d0;
  border-radius: 1em;
  border: solid 0.2em;
  background-color: #ffffff;
  font-size: large;
}

.bloc:hover .fas.fa-check {
  animation-fill-mode: forwards;
  animation: rotation 1s ease;
}

.icon {
  fill: transparent;
  stroke: grey;
  stroke-width: 1em;
  position: relative;
  padding: 1em;
  cursor: pointer;
}
.icon svg {
  overflow: visible;
}
.icon path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.icon .heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.icon .heart-main:hover path {
  animation: stroke-animation 1s ease-in-out forwards;
}
.icon .heart-main:hover ~ .heart-background path {
  animation: spread_and_fade 2s ease-in-out forwards;
}

.heart {
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  background: #9356dc;
  background: linear-gradient(100deg, #9356dc 15%, #99e2d0 100%, #d15eab 40%);
  height: 70px;
  transform: rotate(45deg);
  animation: beat 500ms infinite, loader 1000ms;
  animation-fill-mode: forwards;
  z-index: 1;
}

.heart,
.heart-l,
.heart-r {
  width: 70px;
}

.heart-l,
.heart-r {
  height: 40px;
  background: #9356dc;
  background: linear-gradient(100deg, #9356dc 15%, #99e2d0 100%, #d15eab 40%);
  position: relative;
  border-radius: 70px 70px 0 0;
}

.heart-r {
  bottom: 25px;
  right: 52px;
  transform: rotate(-90deg);
}

.heart-l {
  bottom: 38px;
}

.main {
  background-color: #f6f6f6;
}

section.menu article {
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 1px 1px 8px 1px #bababa;
  background-color: #ffffff;
  font-size: 1em;
  overflow: hidden;
  display: flex;
}
section.menu article h4 {
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: 500ms all;
  white-space: nowrap;
  padding: 0.5em;
}
section.menu article .bbox {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 1.5s ease;
}
section.menu article .choice-menu {
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  height: auto;
  width: 100%;
  padding: 0.5em;
  flex-direction: column;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.slide_left {
  padding: 0.5em;
  margin-bottom: 0.3em;
  height: auto;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

.bloc:hover .bbox {
  width: 6em;
  overflow: hidden;
}

.bloc {
  position: relative;
  height: auto;
}

.bloc:hover .substitle_menu {
  white-space: nowrap;
  transition: 500ms all;
}
.bloc:hover .slide_left {
  transition: 500ms;
  margin-right: 10px;
  width: 3em;
}

.substitle_menu {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0.1em;
  padding-left: 0.5em;
  font-weight: lighter;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.price {
  display: flex;
}
.price .fas.fa-check {
  font-size: large;
}

.wrap {
  position: relative;
}

header.heading--over {
  margin-top: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  border-radius: 25px;
  background-color: #f6f6f6;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
}
header.heading--over .heading {
  font-family: "Shrikhand", sans-serif;
  width: 100%;
  margin-left: 0.5em;
  font-size: 1.3em;
}

.title--menu {
  padding: 1em 1em 0.5em 0;
  margin: 0 0 1em 1em;
  width: 2em;
  border-bottom: 0.2em solid #99e2d0;
  text-transform: uppercase;
  font-weight: lighter;
}

#command {
  box-shadow: none;
  text-align: center;
  background: none;
  margin: 0;
  padding-bottom: 5em;
  padding-top: 2em;
}

.image_fond {
  width: 100%;
  height: 14rem;
  object-fit: cover;
  position: relative;
}

.photo_presentation--wide {
  margin: 0;
}

a {
  width: 100%;
  text-decoration: none;
  color: #020202;
}

.menu .animation_progressive {
  animation: opacity 1000ms ease-in-out 1s forwards;
}
.menu .animation_progressive__plate {
  animation: opacity 2500ms ease-in-out 1500ms forwards;
}
.menu .animation_progressive__desserts {
  animation: opacity 3500ms ease-in-out 2000ms forwards;
}

/*# sourceMappingURL=style.css.map */
