// color
$pink: #ff79da;
$purple: #9356dc;
$bluesky: #99e2d0;
$grey: #f06292;
//block bindings
@mixin cards {
  border-radius: 1.25rem;
  padding-bottom: 0;
  margin: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 8px 8px 1px #bababa;
  background-color: #ffffff;
  transform: scale(1);

  padding: 1em 0 1em 0;
}
@mixin btn_magic {
  // width: 50%;
  border: 1px solid #9356dc;
  background: rgb(147, 86, 220);
  background: radial-gradient(
    circle,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  padding: 3.125rem;
  color: #fffff0;
  border-radius: 1.25rem;
  font-weight: 600;
  padding: 0.625rem;
  box-shadow: 1px 3px 3px 3px #5f537273;
}
@mixin f_col_center {
  flex-direction: column;
  align-items: center;
  display: flex;
} // @include f_col_center;

@mixin onepercent_width {
  width: 100%;
}
// racine file https://developer.mozilla.org/en-US/docs/Web/CSS/:root
:root {
  font-size: 16px;
  font-family: sans-serif;
}
body {
  margin: 0;
  background-color: #e8e8e8;
}
//nav
.nav {
  img {
    width: 6.25rem;
    padding-bottom: 0.625rem;
    padding-top: 0.625rem;
  }
}

.nav-flex {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
}
.nav-width {
  @include onepercent_width;
}
//search
.search {
  @include onepercent_width;
  input {
    border: none;
    @include onepercent_width;
    ::placeholder {
      color: #020202;
    }
  }
}
i.fa-map-marker-alt {
  // padding-left: 35%;
  background-color: $grey;
  display: flex;
  align-content: center;
  opacity: 70%;
  width: 10%;
  margin-left: 40%;
}
.search-flex {
  display: flex;
  align-content: center;
}
.search-background-opacity {
  opacity: 70%;
  background-color: $grey;
}
.search-pad {
  padding: 0.625rem 0px 0.625rem;
}
.input-background {
  background-color: $grey;
}

// hook text
.reservation-shadow {
  box-shadow: inset 6px -3px 2px $grey;
}
.reservation-background {
  background-color: $grey;
}
.reservation-flex {
  @include f_col_center;
}
//explaination
i.fas.fa-mobile-alt {
  width: 0px;
  font-size: x-large;
}
i.fas.fa-store {
  width: 10px;
  font-size: larger;
}
i.fas.fa-list {
  width: 22px;
  font-size: larger;
}
.functionality-flex {
  @include f_col_center;
  .functionality__list {
    padding-inline-start: 0;
  }
}
.functionnality-wide {
  @include onepercent_width;
}

.functionality__list > li {
  padding: 0.625rem 0px 0.625rem 0px;
  i {
    margin: 0;
  }
}
.functionality__list-flex > li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.functionality__list-wide > li {
  width: 90%;
}
.functionality__list-margin > li {
  margin-left: 0px;
  margin-bottom: 0.625rem;
}
.functionality__list-border > li {
  border-left-width: 0px;
  border: 1px solid grey;
}
.functionality__list-rounded > li {
  border-radius: 1.25rem;
}
.functionality__list > li:hover {
  background-color: blueviolet;
  box-shadow: 2px 6px 5px -2px #9356dc8c;
}

.h {
  margin-left: 6.25rem;
}

.one-rounded {
  border-radius: 50%;
}
.one-background {
  background: #9356dc;
  color: #323232;
}
.one-flex-number {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.heading {
  width: 100%;
  height: 100px;
  position: absolute;
  font-style: italic;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title-menu {
  padding-top: 100px;
  padding-left: 1rem;
  padding-bottom: 0px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.substitle_menu {
  margin-top: 0;
}
.span {
  width: 75px;
  margin-left: 15px;
  border-bottom: 1px $bluesky solid;
}

//selection restaurant anchor
.prev-menu-restaurants__heading-flex {
  display: flex;
  justify-content: center;
}
.prev-menu-restaurants {
  @include f_col_center;
  .selection_restaurant {
    padding: 0;
    > li {
      margin-bottom: 15%;
      border-radius: 1.25rem;
      list-style: none;
      box-shadow: 0 0 0.8125rem $grey;
    }
  }
}
.new {
  position: absolute;
}
.figure {
  margin: 0;
  .image {
    @include onepercent_width;
    object-fit: cover;
    padding-right: 0px;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    height: 12.5rem;
    width: 21.5625rem;
  }
}
.figure {
  position: relative;
}
.name-resto-marge {
  margin: 0;
}
.new {
  position: absolute;
  padding: 1rem;
  right: 0px;
  background-color: $bluesky;
}
.figure-margin {
  margin: 0;
}
.figure-wide {
  width: 90%;
}
.fa {
  font-weight: lighter;
}
.fa-heart {
  font-weight: lighter;
  font-size: xx-large;
}
.fa-heart:hover {
  color: #ff79da;
  font-weight: bolder;
}
//card restaurant
.figcaption-flex-center-space-between > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.city-pad {
  margin-top: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-weight: lighter;
}
.resto-pad {
  padding-left: 1rem;
}
.title-plate {
  padding-left: 0.1rem;
  margin-bottom: 5px;
}
h4 {
  padding-left: 15px;
  margin-top: 0;
}
footer > div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 5px;
}
span {
  width: 5px;
  border-radius: 50%;
  border-color: $pink;
  align-items: center;
}
.para-pad {
  margin-bottom: 0.625rem;
  padding-left: 3px;
}
.hand_para-pad {
  padding-left: 0.625rem;
  margin: 0;
  padding-left: 3px;
}

.footer-wide {
  @include onepercent_width;
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

.footer-background {
  background-color: black;
  color: wheat;
}
.change-color {
  fill: blanchedalmond;
}

.contact {
  margin-left: 2px;
}
// accueil & menu
button {
  animation: color-my-box 5s infinite;
}
@keyframes color-my-box {
  0% {
    background: $pink;
  }
  50% {
    background: $purple;
  }
  100% {
    background: $bluesky;
  }
}
//accueil
.functionality__list > li {
  animation: color-my-box 5s infinite;
}
@keyframes color-my-boxes {
  0% {
    background: $bluesky;
  }
  50% {
    background: $pink;
  }
  100% {
    background: $purple;
  }
}
//menu
section.menu {
  display: flex;
  flex-direction: column;
  // margin: 10px;
  border-radius: 1.25rem;

  article {
    @include cards;
    margin: 1rem;
    padding-bottom: 0;
    padding-left: 1rem;
  }
}
#command {
  box-shadow: none;
  text-align: center;
  background: none;
}
.btn {
  @include btn_magic;
  width: 50%;
}
.btn-margin {
  margin-bottom: 3.125rem;
  margin-top: 1.5625rem;
  margin-left: 20%;
  margin-right: 20%;
}
.test {
  padding-inline-end: 6rem;
  background-color: red;
}
// body > section:nth-child(6) > article.command
// menu page
.image_fond {
  @include onepercent_width;
  height: 6.25rem;
  object-fit: cover;
}

//menu

.photo_presentation-wide {
  margin: 0;
}
a {
  text-decoration: none;
  color: #020202;
}
