.btn,
.reservation__btn {
  @include btn_magic;
  width: 50%;
  transform: scale(1);
  animation: transform 1s;
  transition: all 500ms;
}

.btn:active,
.reservation__btn:active {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px #91969196;
  transition: all 500ms;
  animation: transform 1s;
  color: rgb(201, 193, 200);
}
.reservation__btn--margin,
#command {
  margin: 3em;
}
#command {
  box-shadow: none;
  text-align: center;
  background: none;
}
.number--rounded {
  border-radius: 50%;
  width: $one;
  padding: 0.5em;
  position: absolute;
  left: $one;
  text-align: center;
}
.number--background {
  background: $purple;
  color: $softgrey;
}

.fas.fa-check {
  color: #99e2d0;
  border-radius: $one;
  border: solid 0.2em;
  background-color: $white;
}
.bloc:hover {
  .fas.fa-check {
    animation-fill-mode: forwards;
    animation: rotation 1s ease;
  }
}
.icon {
  fill: transparent;
  stroke: $grey;
  stroke-width: $one;
  position: relative;
  padding: 2em;
  svg {
    overflow: visible;
  }
  path {
    stroke-dashoffset: $zero;
    stroke-dasharray: 1550;
    transform-origin: center;
  }
  .heart-background {
    position: absolute;
    left: $zero;
    right: $zero;
    z-index: -1;
    stroke: none;
  }
  // animation
  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out forwards;
  }
  .heart-main:hover ~ .heart-background path {
    animation: fade-animation 2s ease-in-out forwards;
  }
}
