.btn,
.reservation__btn {
  @include btn_magic;
  transition: all 500ms;
  padding: 1em 2em 1em 2em;
  
  // transform: scale(1);
  // animation: transform 1s;
  // font-weight: bold;
}

.btn:hover,
.reservation__btn:hover {
  transform: scale(1.01);
  filter: brightness(1.1);
  box-shadow: 9px 12px 11px #91969196;
  // transition: all 500ms;
  // animation: transform 1s;
  // color: rgb(201, 193, 200);
}
// #command
.reservation__btn--margin{
  margin-top: 2em;
  margin-bottom: 2em;
}
// #command {
//   box-shadow: none;
//   text-align: center;
//   background: none;
// }
.number--rounded {
  border-radius: 50%;
  width: $one;
  padding: 0.5em;
  position: absolute;
  left: $one;
  text-align: center;
}
.number--background {
  background: $purple;
  color: $softgrey;
}

.fas.fa-check {
  color: #99e2d0;
  border-radius: $one;
  border: solid 0.2em;
  background-color: $white;
  font-size: large;
}
.bloc:hover {
  .fas.fa-check {
    animation-fill-mode: forwards;
    animation: rotation 1s ease;
  }
}
.icon {
  fill: transparent;
  stroke: grey;
  stroke-width: $one;
  position: relative;
  padding: 1em;
  cursor: pointer;
  svg {
    overflow: visible;
  }
  path {
    //where the stroke path start
    stroke-dashoffset: $zero;
    // array
    stroke-dasharray: 1550;
    // permet de definir le point d origine d une transformation
    transform-origin: center;
  }
  // superposition 2 elements
  .heart-background {
    position: absolute;
    left: $zero;
    right: $zero;
    z-index: -1; // postion in oder -1 permet de reduire la priority
    stroke: none;
  }
  // animation
  .heart-main:hover path {
    animation: stroke-animation 1s ease-in-out forwards;
  }
  // exemple for use tild + definition
  // https://stackoverflow.com/questions/10782054/what-does-the-tilde-squiggle-twiddle-css-selector-mean
  .heart-main:hover ~ .heart-background path {
    animation: spread_and_fade 2s ease-in-out forwards;
  }
}
