.heart {
  position: absolute;
  top:50%;
  right:50%;
  bottom:50%;
  left:50%;
  background: rgb(147,86,220);
  background: linear-gradient(100deg, rgba(147,86,220,10) 15%, rgba(153,226,208,10) 100%, rgba(209,94,171,10) 40%);
  height: 70px;
  transform: rotate(45deg);
  animation: beat 500ms infinite, loader 1000ms;
  // animation-delay: 1500ms;
  animation-fill-mode: forwards;
  z-index: 1;
}
.heart,
.heart-l,
.heart-r {
  width: 70px;
}
.heart-l,
.heart-r {
  height: 40px;
  background: rgb(147,86,220);
  background: linear-gradient(100deg, rgba(147,86,220,10) 15%, rgba(153,226,208,10) 100%, rgba(209,94,171,10) 40%);
  position: relative;
  border-radius: 70px 70px $zero $zero;
}
.heart-r {
  bottom: 25px;
  right: 52px;
  transform: rotate(-90deg);
}
.heart-l {
  bottom: 38px;
}
