@keyframes color-my-box {
  0% {
    background: $pink;
  }
  50% {
    background: $purple;
  }
  100% {
    background: $bluesky;
  }
}

@keyframes opacity {
  // 0% {
  //   @include zero_opacity;
  // }
  20% {
    opacity: 25%;
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes transition {
  0% {
    height: 0%;
  }
  20% {
    height: 25%;
  }
  50% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
// beats hearts
@keyframes beat {
  50% {
    transform: rotate(45deg) scale(1.5);
    opacity: 50%;
  }
}
@keyframes loader {
  85% {
    opacity: 10%;
  }
  95% {
    opacity: 0%;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes body {
  0% {
    @include zero_opacity;
  }
  10% {
    @include zero_opacity;
  }
  20% {
    @include zero_opacity;
  }
  30% {
    @include zero_opacity;
  }
  50% {
    @include zero_opacity;
  }
  75% {
    opacity: 0.5%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
    // opacity:0;
    fill-opacity: url(#aa);
    fill: url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  30% {
    stroke-dashoffset: 1550;
    fill-opacity:10%; fill: url(#aa);
    // fill: ;
  }
  60% {
    stroke-dashoffset: 3100;
    fill-opacity:30%;
    transform: scale(1); fill: url(#aa);
  }
  80% {

    fill-opacity:60%;
    transform: scale(1.1); fill: url(#aa);
  }
  90% {
    transform: scale(1);
    fill-opacity:80%;
    fill: url(#aa);
  }
  100% {
    stroke-dashoffset: 3100;
    fill-opacity:100%;
    fill: url(#aa);
  }
}
@keyframes spread_and_fade {
  70% {
    transform: scale(1);
    fill: url(#aa);
    fill:url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  80% {
    fill: url(#aa);
    fill:url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
    transform: scale(1.1);
  }
  90% {
    fill: url(#aa);
    fill:url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
  }
  100% {
    transform: scale(2.5);
    fill: url(#aa);
    fill:url(#Mygradient);
    fill: url(#Mygradientt);
    fill: url(#gradient);
    fill-opacity:100%;

  }
}
