// https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/
.center_media {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  -webkit-margin-before: 25px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  width: 10rem;
}
@media screen and (min-width: 600px) {
  .menu {
    justify-content: space-around;
    flex-direction: column;
    display: flex;
    div {
      display: flex;
      flex-direction: row;
    }
    article {
      width: 33%;
    }
  }
  ul.selection__restaurant {
    width: $onepercent_width;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: space-around;
    li {
      width: 20em;
      margin-bottom: 0;
    }
  }
  li > .fas.fa-utensils,
  li > .fas.fa-hands-helping {
    padding-right: 1%;
  }
  button.reservation__btn--margin {
    margin: 2%;
  }

  #width-query {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 0;

    > li:nth-child(1),
    > li:nth-child(2),
    li:nth-child(3) {
      width: 50%;
      // margin-right: 2.7rem;
      .number {
        position: static;
        margin-left: -15px;
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        /* padding: 0.1em; */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .footer--background {
    .footer {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
  .number--background {
    background: $purple;
    color: $white;
  }
  .heart {
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
  }
}
@media screen and (min-width: 768px) {
  .prev__menu__restaurants__heading--flex {
    margin-left: 1em;
    display: flex;
    justify-content: center;
  }
  .functionality__title {
    display: flex;
    justify-content: center;
  }
  .nav__picture {
    width: 20rem;
  }
}
@media screen and (min-width: 2559px) {
  nav {
    img.center_media {
      width: 16rem;
      margin-top: 30px;
      -webkit-margin-before: 33px;
    }
  }
}
