@mixin cards {
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 1px 1px 8px 1px #bababa;
  background-color: #ffffff;
  // transform: scale(1);
  font-size: 1em;
  overflow: hidden;
  display: flex;
}
@mixin btn_magic {
  border: 1px solid $pink;
  background: radial-gradient(
    circle,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  color: #fffff0;
  border-radius: 1.25rem;
  font-weight: 600;
  // padding: 0.625rem;
  box-shadow: 1px 3px 3px 3px #5f537273;
}
@mixin f_col_center {
  flex-direction: column;
  align-items: center;
  display: flex;
} // @include f_col_center;

@mixin zero_opacity {
  opacity: $zero;
}

@mixin elemt_center {
  display: flex;
  justify-content: center;
  align-items: center;
}